<?xml version="1.0"?>

<configuration>
    <appSettings>
        <!-- APIs & auth / Credentials / OAuth / Client ID for native application -->
        <add key="GAPICal Client Id" value="957134178360-gdpti1t4fekh14575pvt4f70qdki2o5a.apps.googleusercontent.com"/>
        <add key="GAPICal Client Secret" value="OWFmiN5NSh7n2eSsMACDGgOK"/>
        <!-- APIs & auth / Credentials / Public API access / Key for browser applications -->
        <add key="GAPICal API Key" value="AIzaSyAlE6GWN6APRZf_U5VdP2BXbZsbXN6Zq0E"/>
        <add key="GAPICal Application Name" value="GAPICal Web Testing"/>
        <!-- Integrator data storage -->
        <add key="GAPICal Storage" value="~/App_Data/MyGoogleStorage"/>
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
    </system.web>
    
    <system.webServer>
        <directoryBrowse enabled="false"/>
        
        <defaultDocument enabled="true" >
            <files>
                <add value="Page1.aspx"/>
            </files>
        </defaultDocument>
    </system.webServer>
    
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>